<section class="user-blog-post-section">
    <a class="user-blog-post-a" href="/dashboard/blog/{{id}}">
        <div class="user-blog-post-div-title">
            <header class="user-blog-post-header">{{title}}</header>
            <p class="user-blog-post-p">Created on: {{createdAt}}</p>
        </div>
        <div>
            <p class="user-blog-post-p">{{content}}</p>
        </div>
    </a>
</section>