{{#each blogs as |blog|}}
{{> user-blog-posts}}
{{/each}}

<section class="dashboard-section">
    <button class="dashboard-btn"><a class="dashboard-a" href="/dashboard/addPost">Add blog post</a></button>
</section>
