<div class="login-section">
    <h2 id="login-title">Login</h2>
    <form class="login-form">
      <div class="login-div">
        <label class="login-label" for="username-login">Username:</label>
        <input class="login-input" type="text" id="username-login"/>
      </div>
      <div class="login-div">
        <label class="login-label "for="password-login">Password:</label>
        <input class="login-input" type="password" id="password-login"/>
      </div>
      <div class="login-div">
        <button class="login-btn" type="submit">login</button>
      </div>
    </form>
    <a class="login-a" href="/signup">Sign Up instead</a>
</div>

<script src="./js/login.js"></script>
