  <section class="sign-up-section">
    <h2 class="sign-up-h2">Signup</h2>
    <form class="signup-form">
      <div class="sign-up-input-div">
        <label class="sign-up-label" for="username-signup">Username:</label>
        <input class="sign-up-input" type="text" id="username-signup" />
      </div>
      <div class="sign-up-input-div">
        <label class="sign-up-label" for="password-signup">Password:</label>
        <input class="sign-up-input" type="password" id="password-signup" />
      </div>
      <div class="sign-up-input-div">
        <label class="sign-up-label" for="retype-password">Retype password:</label>
        <input class="sign-up-input" type="password" id="retype-password"/>
      </div>
      <div>
        <button class="sign-up-btn" type="submit">signup</button>
      </div>
    </form>
  </section>

  <script src="./js/signup.js"></script>